<!--FOOTER-->
<footer class="uk-section uk-section-small" style="margin-bottom: 60px">
	<div class="uk-container">
		<p class="uk-text-small uk-text-center">Copyright 2019 - <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a> </p>
	</div>
</footer>
<!--/FOOTER-->
<!-- BOTTOM BAR -->
<div class="uk-section uk-section-xsmall uk-section-default uk-position-bottom uk-position-fixed" style="border-top: 1px solid #f2f2f2">
	<div class="uk-container uk-container-small uk-text-small">
		<div class="uk-grid" data-uk-grid>
			<div class="uk-width-expand">
				<a href="#" class="uk-link-reset"><span data-uk-icon="icon: arrow-right"></span> <strong>Next article</strong>
				<span class="uk-visible@s">- Vivamus hendrerit tristique tortor vel ultricies</span></a>
			</div>
			<div class="uk-width-auto uk-text-right">
				<a href="#" class="uk-icon-link" data-uk-icon="icon: facebook"></a>
				<a href="#" class="uk-icon-link" data-uk-icon="icon: twitter"></a>
				<a href="#" class="uk-icon-link" data-uk-icon="icon: instagram"></a>
			</div>
		</div>
	</div>
</div>
<!-- /BOTTOM BAR -->

<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
	<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
		<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
		<ul class="uk-nav uk-nav-default">
			<li class="uk-active"><a href="#">Active</a></li>
			<li class="uk-parent">
				<a href="#">Parent</a>
				<ul class="uk-nav-sub">
					<li><a href="#">Sub item</a></li>
					<li><a href="#">Sub item</a></li>
				</ul>
			</li>
			<li class="uk-nav-header">Header</li>
			<li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
			<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
			<li class="uk-nav-divider"></li>
			<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
		</ul>
		<h3>Title</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</div>
<!-- /OFFCANVAS -->
</body>